__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.DS_Store
.vscode
*.ckpt

PhD-notes/*

# data
aks_raw*
data/data_raw/windows_emulation*
data/windows_emulation*
data/data_raw/windows_raw_pe_*
data/data_raw/speakeasy_raw_pe_*
data/data_raw/Avast*
data/data_raw/CruParamer/*
data/data_filtered/speakeasy_testset*/
data/data_filtered/speakeasy_trainset*/
data/data_filtered/ember*
data/data_raw/DMDS/dataset/*zip
data/data_raw/BETH-dataset/*csv
wazuh_*
*windows_msft_*
*auditd_msft_*
*kubeaudit_msft_*
data/data_raw/windows_emulation*7z
data/data_filtered/speakeasy_data_filtered.7z
data/data_raw/BETH-dataset.7z
evaluation/MaskedLanguageModeling/*/downstreamTask*
evaluation/MaskedLanguageModeling/*/preTraining/
*npy
*npz
*pickle

# models
FastText*model
*torch