__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints
.DS_Store
.vscode

evaluation/MaskedLanguageModeling/*/downstreamTask*
evaluation/MaskedLanguageModeling/*/preTraining/

# Data
data/data_filtered/*
*7z
*zip
*npy
*npz
*explanations*

# models
*.ckpt
FastText*model
*torch
*ckpt